
@import "../ScssVariabls/_variabls.scss";

.siteTitles {
	border-bottom: groove;
	h1 {
		margin-top: $marginSize;
		margin-bottom: $marginSize;
		padding: 0 0 0 20px;
		font-size: 30px;
	}
}

.mainParagraph {
	line-height: 1.6em;
}

.containerTable {
	border-collapse: collapse;
	width: 100%;
	thead {
		tr {
			th {
				font-size: 12px;
				text-align: left;
				border: 1px black solid;
				padding: 5px;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: 12px;
				border: 1px black solid;
				padding: 10px;
			}
			&:nth-child(even){
				background-color: lightgrey;
			}
		}
	}
}