
@mixin buttonDesign($colorOfButton, $colorOfText) {
	margin-right: 10px;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 10px;
	color: $colorOfText;
	background-color: $colorOfButton;
	cursor: pointer;
	border: none;
	outline: none;
}

.arrayOfObjects {
	h4 {
		margin-bottom: 10px;
	}
}

.list {
	margin-left: 25px;
}

.dataFromAPI{

	.dataDiv {
		font-size: 15px;
		overflow-wrap: break-word;
		margin-bottom: 20px;
		padding: 5px 10px;
		border-style: solid;
		border-width: 1px;

		.innerContent {
			display: block;
			margin-left: 10px;
			margin-top: 10px;
		}
	}

	.buttonSelections {
		margin-top: 30px;
		margin-bottom: 20px;

		button: hover {
			opacity: 1;
		}

		#startButton {
			@include buttonDesign(#4CAF50, white);
		}

		#stopButton {
			@include buttonDesign(#f44336, white);
		}

		#restartButton {
			@include buttonDesign(#FFDC00, black);
		}

		#killButton {
			@include buttonDesign(#f44336, white);
		}

		#pauseButton {
			@include buttonDesign(#FFDC00, black);
		}

		#unpauseButton {
			@include buttonDesign(#4CAF50, white);
		}
	}
}